/* #0065a3  1.png*/


/* #6f8ba1 2.png */


/* #152934 3.png main */


/* #84d0e9 3.png text */

@font-face {
    font-family: "Raleway-Light";
    src: url(./font/Raleway-Light.woff2) format("woff2"), url(./font/Raleway-Light.woff) format("woff"), url(./font/Raleway-Light.ttf) format("truetype");
}


/* GENERAL CLASSES */

body {
    font-family: "Raleway-Light" !important;
}

.btn {
    background-color: #0065a3 !important;
    color: white !important;
}

.box {
    height: auto !important;
    text-transform: capitalize;
    overflow: hidden;
    margin: 4%;
    color: white;
}


/* END GENEAL CLASSES */


/* START HEADER */

.navbar {
    background-color: #152934;
    height: auto;
}

.nav-item a {
    color: #152934;
}

.navbar-brand .header-logo {
    width: 70px;
}


/*END HEADER */


/* CAROUSEL AND SECTION! CONTENT */

.carousel-inner img {
    height: 400px;
    width: 100%;
}

.section1 {
    position: relative;
}

.section1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
}

.section1 .ribbon {
    widows: 100%;
    height: 100px;
    background-color: #0065a3;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 1.2rem;
}


/* END SECTION1 AND CAROUSEL */


/* START SECTION2 */

.section2 .top-part {
    margin: 2%;
    padding-top: 60px;
}

.section2 .sec2-left-box {
    margin-bottom: 20px;
}

.section2 img {
    width: 150px;
    height: 150px;
}

.section2 .discrption {
    font-size: 20px;
}

.section2 .sec2-right-box img {
    width: 100%;
    height: 300px;
}

.section2 .img-box {
    width: 100%;
    height: 70px;
    margin: 10px;
}

.section2 .info-box {
    margin: 4%;
    height: 300px;
    width: 400px;
    position: relative;
    text-align: center;
    background-color: #0065a3;
    padding-left: 0 !important;
    border-radius: 10px;
    overflow: hidden;
}

.section2 .bottom-part .info-box-img {
    background: url(./img/5-2.jpg) no-repeat center center;
    background-size: cover;
    height: 150px;
    width: 100%;
    position: absolute;
    margin-bottom: 10px;
}

.section2 .bottom-part .text-box {
    position: absolute;
    top: 55%;
    color: white;
    font-size: 20px;
}

.section2 .sec2-header {
    margin-top: 90px;
}

.section2 .bottom-part .line {
    width: 140px;
    height: 5px;
    background-color: #6f8ba1;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* END SECTION 2 */


/* START SECTION3 */

.section3 {
    background-color: #6f8ba1;
    height: auto;
}

.section3 .intro-text {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.section3 .img-elements {
    width: 100%;
}

.section3 .check-box {
    margin-bottom: 10px;
    color: white;
}

.section3 .fa-check-circle {
    color: white;
}

.section3 .checkbox-elements {
    font-size: 20px;
    padding: 10px;
}

.section3 .checkbox-elements .checkbox-text {
    margin-top: -6px;
    padding-left: 10px;
}


/* END SECTION 3 */


/* START FOOTER */

.end-section {
    background-color: #152934;
    width: 100%;
    height: auto;
}

.end-section h4 {
    color: #84d0e9;
}

.end-section .text {
    margin-left: 10px;
    margin-top: -4px;
}

.end-section .icon-text {
    padding: 6px;
}

.copyright {
    width: 100%;
    background-color: #111e25;
    height: 60px;
}

.footer-text {
    color: white;
    line-height: 60px;
    text-align: center;
}